body {
    font-family: "Arial";
}

p {
    display: block;

    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;

    max-width: 1200px;

    margin: 0 auto;

    @media screen and (max-width: 450px) {
        flex-direction: column-reverse;
    }
}

@import "./components/config-block";
@import "./components/result-block";