#backblaze-value,
#bunny-value,
#scaleway-value,
#vultr-value {
    height: 40px;
}

#backblaze-value {
    background-color: #c92626;
}

#bunny-value {
    background-color: #ff440a;
}

#scaleway-value {
    background-color: #b314e4;
}

#vultr-value {
    background-color: #1149e2;
}