#backblaze-value,
#bunny-value,
#scaleway-value,
#vultr-value {
    height: 40px;
}

#backblaze-value {
    width: 1000px;

    background-color: #c92626;
}

#bunny-value {
    width: 400px;

    background-color: #ff440a;
}

#scaleway-value {
    width: 800px;

    background-color: #b314e4;
}

#vultr-value {
    width: 150px;

    background-color: #1149e2;
}